<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="formulario">
            <div class="topo">
                <h1> Alterar membro da equipe </h1>
            </div>

            <div class="body">
                <form action="/equipe/update/<%= equipe._id %>" method="post">
                    <ul>
                        <li>
                            <label for="">Nome: </label>
                            <input type="text" name="nome" id="name" placeholder="Digite o nome"
                                value="<%= equipe.nome %>" required>
                        </li>
                        <li>
                            <label for="">Função: </label>
                            <input type="text" name="funcao" id="funcao" placeholder="Digite a função"
                                value="<%= equipe.funcao %>" required>
                        </li>

                        <li>
                            <label for="">Pagamento: </label>
                            <input type="text" name="pagamento" id="pagamento" placeholder="Digite o dia do Pagamento"
                                value="<%= new Date(equipe.pagamento).toLocaleDateString() %>" required>
                        </li>

                        <li>
                            <label for="">Encargo: </label>
                            <input type="text" name="encargo" id="encargo" placeholder="Digite o encargo"
                                value="<%= equipe.encargo %>" required>
                        </li>


                    </ul>

                    <input type="submit" value="Cadastrar">

                </form>
            </div>
        </div>
    </div>
</body>

</html>