<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe - Hotel Vale do Refúgio</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <%- include('partial/navbar.ejs') %>
    <div class="container">
        <h2>Equipe</h2>
        <a href="/equipe/cadastro">
            <button class="btn-primary" style="margin-bottom: 20px;">Cadastrar</button>
        </a>
        
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Função</th>
                <th>Dia Pagamento</th>
                <th>Encargo</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
            <% equipe.forEach(equipe =>{ %>

            
            <tr>
                <td>01</td>
                <td><%= equipe.nome %></td>
                <td><%= equipe.funcao %></td>
                <td><%= new Date(equipe.pagamento).toLocaleDateString() %></td>
                <td><%= equipe.encargo %></td>
                <td><a href="/equipe/editar/<%= equipe._id %>"><button class="btn-edit">✏️</button></a></td>
                <td><a href="/equipe/deletar/<%= equipe._id %>"><button class="btn-remove">🗑️</button></a></td>
            </tr>

           <% }) %>
 
        </table>
    </div>

    <script src="scripts.js"></script>
</body>
</html>
