<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe - Hotel Vale do Refúgio</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <%- include('partial/navbar.ejs') %>
    <div class="container">
        <h2 id="equipe">Equipe</h2>
        <a>
            <button class="btn-primary" style="margin-bottom: 20px;">Cadastrar</button>
        </a>
        
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Função</th>
                <th>Dia Pagamento</th>
                <th>Encargo</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
            <% equipe.forEach(equipe =>{ %>

            
            <tr>
                <td>01</td>
                <td><%= equipe.nome %></td>
                <td><%= equipe.funcao %></td>
                <td><%= new Date(equipe.pagamento).toLocaleDateString() %></td>
                <td><%= equipe.encargo %></td>
                <td><a href="/equipe/editar/<%= equipe._id %>"><button class="btn-edit">✏️</button></a></td>
                <td><a href="/equipe/deletar/<%= equipe._id %>"><button class="btn-remove">🗑️</button></a></td>
            </tr>

           <% }) %>
 
        </table>
    </div>
    <dialog id="modal-equipe">
        <div class="principal-wrapper">
            <div class="formulario-wrapper">
                <form action="/equipe/novo" method="POST">
                    <div class="mb-5">
                        <label for="nome" class="formulario-label">Nome:</label>
                        <input type="text" name="nome" id="nome" placeholder="Digite o nome"
                            class="formulario-input" required />
                    </div>
                    <div class="mb-5">
                        <label for="funcao" class="formulario-label">Função:</label>
                        <input type="text" name="funcao" id="funcao" placeholder="Digite a função"
                            class="formulario-input" required />
                    </div>
                    <div class="mb-5">
                        <label for="pagamento" class="formulario-label">Pagamento:</label>
                        <input type="text" name="pagamento" id="pagamento" placeholder="Digite o dia do Pagamento"
                            class="formulario-input" required />
                    </div>
                    <div class="mb-5">
                        <label for="encargo" class="formulario-label">Encargo:</label>
                        <input type="text" name="encargo" id="encargo" placeholder="Digite o encargo"
                            class="formulario-input" required />
                    </div>
                    <div>
                        <button class="botao">Cadastrar Membro</button>
                        <button class="botao-cancel">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </dialog>
    <script src="scripts.js"></script>
</body>
</html>
